body {
    margin: 0;
    text-align: center;
background: rgb(195,39,34);
background: linear-gradient(180deg, rgba(195,39,34,1) 0%, rgba(208,146,37,1) 20%, rgba(213,221,39,1) 39%, rgba(40,227,102,1) 58%, rgba(42,101,237,1) 74%, rgba(174,43,245,1) 88%, rgba(253,45,230,1) 100%);
}

#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

#myCarousel{
background-color: red;
} 

#myCarousel img{
height: 300px;
margin-top: 35px;
}

.carousel-inner p{
margin-bottom: 15px;
margin-top: 15px;
color: black;
font-size: 20px;
}

img{
height: 150px;
width: 150px;
}
 
